---
import Layout from '@layouts/Layout.astro';
import Navbar from '@components/Navbar/Navbar.astro';
import SplitReveal from '@components/SplitReveal/SplitReveal.astro';
import Button from '@components/Button/Button.astro';
import { Picture } from 'astro:assets';

import header from '@images/mobiletire.png';
import Footer from '@components/Footer/Footer.astro';

import img1 from '@images/isead-awards-still.jpg';
import img2 from '@images/isead-awards-still-2.jpg';
import img3 from '@images/isead-awards.jpg';
import img4 from '@images/isead-awards-2.jpg';
---

<Layout
    title="ISEAD Award Project | IICON Creative Strategies"
    seo={{
        description:
            'Our experience designing the inaugural ISEAD Diversity Award, honoring partnerships with Canadian Building Trades Unions and Indigenous communities. Winner of the PPAI Silver Pyramid Award.'
    }}
>
    <div class="relative flex flex-col">
        <div class="fixed top-0 right-0 left-0 z-50 h-fit bg-black">
            <Navbar />
        </div>
        <div
            class="relative grid h-fit w-full grid-cols-12 gap-fluid-twenty bg-white pt-36 pr-fluid-twenty pb-fluid-eighty pl-fluid-twenty sm:pb-fluid-270"
        >
            <div
                class="col-span-12 flex h-fit flex-col gap-4 self-start text-body-md leading-[100%] tracking-[-3%] sm:sticky sm:top-24 sm:col-span-4 3xl:col-span-3"
            >
                <div class="pb-fluid-eighty md:pb-0">
                    <h1>ISEAD</h1>
                    <h2 class="text-[#3e3e3e]">Product Sourcing, Strategy, Event</h2>
                </div>
                <div class="flex flex-row justify-start">
                    <a class="hover-underline w-fit text-body-sm tracking-[-1%]" href="/work"
                        >See all projects ↗</a
                    >
                </div>
                <div
                    class="desktop-version flex flex-col gap-fluid-twenty bg-[#EEEEEE] p-fluid-thirty text-body-project leading-[120%] tracking-[-2%] text-[#3e3e3e]"
                >
                    <h4 class="pb-fluid-twenty text-body-sm">Project Description</h4>
                    <p>
                        At its November 2024 conference, Indigenous Skills, Employment,
                        Apprenticeship and Development (ISEAD), formerly AABO, marked a pivotal new
                        chapter with the launch of its new name and vision. To commemorate the
                        milestone, we created ISEAD’s inaugural award—honouring partnerships with
                        Canadian Building Trades Unions and Indigenous communities.
                    </p>

                    <p>
                        Handcrafted in Canada from sustainably sourced wood and Lucite, the award
                        featured a feather transforming into birds in flight, symbolizing growth,
                        unity, and evolution. Presented to just five recipients at an intimate gala
                        attended by 150–200 national leaders, the award made a powerful debut.
                    </p>
                    <p>
                        A standout moment came when the Minister of Labour praised the design while
                        holding the ISEAD Diversity Award—a moment widely shared across media
                        platforms, helping elevate ISEAD’s profile and firmly position the
                        conference on the national stage. The program achieved its goals of
                        recognition, engagement, and cultural alignment, reinforcing ISEAD’s mission
                        and inspiring continued partnership.
                    </p>
                    <p class="pt-fluid-forty text-body-sm opacity-90">
                        <span class="italic">Winner of the:</span><br />
                        PPAI Silver Pyramid Award (International)<br />
                        PPPC Silver Image Award (Canada)<br />
                    </p>
                </div>
            </div>
            <div
                class="mob-version col-span-12 flex flex-col gap-fluid-twenty bg-[#EEEEEE] px-fluid-forty pt-fluid-forty pb-fluid-eighty text-body-project leading-[120%] tracking-[-2%] text-[#3e3e3e]"
            >
                <h4 class="pb-fluid-160 text-body-sm">Project Description</h4>
                <p>
                    At its November 2024 conference, Indigenous Skills, Employment, Apprenticeship
                    and Development (ISEAD), formerly AABO, marked a pivotal new chapter with the
                    launch of its new name and vision. To commemorate the milestone, we created
                    ISEAD’s inaugural award—honouring partnerships with Canadian Building Trades
                    Unions and Indigenous communities.
                </p>

                <p>
                    Handcrafted in Canada from sustainably sourced wood and Lucite, the award
                    featured a feather transforming into birds in flight, symbolizing growth, unity,
                    and evolution. Presented to just five recipients at an intimate gala attended by
                    150–200 national leaders, the award made a powerful debut.
                </p>
                <p>
                    A standout moment came when the Minister of Labour praised the design while
                    holding the ISEAD Diversity Award—a moment widely shared across media platforms,
                    helping elevate ISEAD’s profile and firmly position the conference on the
                    national stage. The program achieved its goals of recognition, engagement, and
                    cultural alignment, reinforcing ISEAD’s mission and inspiring continued
                    partnership.
                </p>
                <p class="pt-fluid-forty text-body-sm opacity-90">
                    <span class="italic">Winner of the:</span><br />
                    PPAI Silver Pyramid Award (International)<br />
                    PPPC Silver Image Award (Canada)<br />
                </p>
            </div>
            <div
                class="col-span-12 flex w-full flex-col gap-fluid-twenty sm:col-span-8 3xl:col-span-9"
            >
                <Picture src={img1} alt="ISEAD Awards" class="h-auto w-full" loading="lazy" />
                <Picture src={img2} alt="ISEAD Awards" class="h-auto w-full" loading="lazy" />
                <Picture src={img3} alt="ISEAD Group Photo" class="h-auto w-full" loading="lazy" />
                <Picture src={img4} alt="ISEAD Group Photo" class="h-auto w-full" loading="lazy" />
            </div>
        </div>
    </div>
    <Footer />
</Layout>
