---
import Layout from '@layouts/Layout.astro';
import Navbar from '@components/Navbar/Navbar.astro';
import SplitReveal from '@components/SplitReveal/SplitReveal.astro';
import Button from '@components/Button/Button.astro';
import { Picture } from 'astro:assets';
import flatLay from '@images/MB Crew Apparel.jpg';
import flatLayTwo from '@images/MB Crew Winter.jpg';
import header from '@images/mobiletire.png';
import Footer from '@components/Footer/Footer.astro';
---

<Layout
    title="Mobile Tire Project | IICON Creative Strategies"
    seo={{
        description:
            'Discover our work with Mobile Tire, a project involving product sourcing and brand strategy to develop a professional uniform program.'
    }}
>
    <div class="relative flex flex-col">
        <div class="fixed top-0 right-0 left-0 z-50 h-fit bg-black">
            <Navbar />
        </div>
        <div
            class="relative grid h-fit w-full grid-cols-12 gap-fluid-twenty bg-white pt-36 pr-fluid-twenty pb-fluid-eighty pl-fluid-twenty sm:pb-fluid-270"
        >
            <div
                class="col-span-12 flex h-fit flex-col gap-4 self-start text-body-md leading-[100%] tracking-[-3%] sm:sticky sm:top-24 sm:col-span-4 3xl:col-span-3"
            >
                <div class="pb-fluid-eighty md:pb-0">
                    <h1>Mobile Tire</h1>
                    <h2 class="text-[#3e3e3e]">Product Sourcing, Strategy</h2>
                </div>
                <div class="flex flex-row justify-start">
                    <a class="hover-underline w-fit text-body-sm tracking-[-1%]" href="/work"
                        >See all projects ↗</a
                    >
                </div>
                <div
                    class="desktop-version flex flex-col gap-fluid-twenty bg-[#EEEEEE] p-fluid-thirty text-body-project leading-[120%] tracking-[-2%] text-[#3e3e3e]"
                >
                    <h4 class="pb-fluid-twenty text-body-sm">Project Description</h4>
                    <p>
                        To support MobileTire.ca’s growing business, we created a brand apparel
                        program designed to elevate their professional image and build trust with
                        customers—laying the groundwork for future franchising.
                    </p>
                    <p>
                        The collection featured comfortable, all‑weather workwear in black to convey
                        strength and reliability, with logos placed for maximum visibility and a red
                        Canadian maple leaf embroidered on hats to showcase national pride. The
                        refreshed brand presence helped drive a 30% increase in sales, with
                        customers citing the company’s professional appearance as a key factor in
                        their confidence and referrals—exceeding the original branding goals.
                    </p>
                    <p class="pt-fluid-forty text-body-sm opacity-90">
                        Winner of the 2021 PPAI International Gold Pyramid<br />
                    </p>
                </div>
            </div>
            <div
                class="mob-version col-span-12 flex flex-col gap-fluid-twenty bg-[#EEEEEE] px-fluid-forty pt-fluid-forty pb-fluid-eighty text-body-project leading-[120%] tracking-[-2%] text-[#3e3e3e]"
            >
                <h4 class="pb-fluid-160 text-body-sm">Project Description</h4>
                <p>
                    To support MobileTire.ca’s growing business, we created a brand apparel program
                    designed to elevate their professional image and build trust with
                    customers—laying the groundwork for future franchising.
                </p>
                <p>
                    The collection featured comfortable, all‑weather workwear in black to convey
                    strength and reliability, with logos placed for maximum visibility and a red
                    Canadian maple leaf embroidered on hats to showcase national pride. The
                    refreshed brand presence helped drive a 30% increase in sales, with customers
                    citing the company’s professional appearance as a key factor in their confidence
                    and referrals—exceeding the original branding goals.
                </p>
                <p class="pt-fluid-forty text-body-sm opacity-90">
                    Winner of the 2021 PPAI International Gold Pyramid<br />
                </p>
            </div>
            <div
                class="col-span-12 flex w-full flex-col gap-fluid-twenty sm:col-span-8 3xl:col-span-9"
            >
                <Picture
                    src={header}
                    alt="Mobile Tire Apparel"
                    class="h-auto w-full"
                    loading="lazy"
                />
                <Picture
                    src={flatLay}
                    alt="Mobile Tire Apparel"
                    class="h-auto w-full"
                    loading="lazy"
                />
                <Picture
                    src={flatLayTwo}
                    alt="Mobile Tire Apparel"
                    class="h-auto w-full"
                    loading="lazy"
                />
            </div>
        </div>
    </div>
    <Footer />
</Layout>
