---
import Layout from '@layouts/Layout.astro';
import Navbar from '@components/Navbar/Navbar.astro';
import SplitReveal from '@components/SplitReveal/SplitReveal.astro';
import Button from '@components/Button/Button.astro';
import { Picture } from 'astro:assets';

import img1 from '@images/yw6.jpg';
import img2 from '@images/yw4.jpg';
import img3 from '@images/yw3.jpg';
import img4 from '@images/yw5.jpg';
import Footer from '@components/Footer/Footer.astro';
---

<Layout
    title="YWKW Project | IICON Creative Strategies"
    seo={{
        description:
            'Learn about our collaboration with YWKW to create a sustainable, participant-driven product, winning the PPAI International Gold Pyramid Award.'
    }}
>
    <div class="relative flex flex-col">
        <div class="fixed top-0 right-0 left-0 z-50 h-fit bg-black">
            <Navbar />
        </div>
        <div
            class="relative grid h-fit w-full grid-cols-12 gap-fluid-twenty bg-white pt-36 pr-fluid-twenty pb-fluid-eighty pl-fluid-twenty sm:pb-fluid-270"
        >
            <div
                class="col-span-12 flex h-fit flex-col gap-4 self-start text-body-md leading-[100%] tracking-[-3%] sm:sticky sm:top-24 sm:col-span-4 3xl:col-span-3"
            >
                <div class="pb-fluid-eighty md:pb-0">
                    <h1>YWKW</h1>
                    <h2 class="text-[#3e3e3e]">Product Sourcing, Brand Strategy, Graphic Design</h2>
                </div>
                <div class="flex flex-row justify-start">
                    <a class="hover-underline w-fit text-body-sm tracking-[-1%]" href="/work"
                        >See all projects ↗</a
                    >
                </div>
                <div
                    class="desktop-version flex flex-col gap-fluid-twenty bg-[#EEEEEE] p-fluid-thirty text-body-project leading-[120%] tracking-[-2%] text-[#3e3e3e]"
                >
                    <h4 class="pb-fluid-twenty text-body-sm">Project Description</h4>
                    <p>
                        Counsellors at YWKW were looking for new branded items for participants to
                        sell through their thrift store—creating a hands‑on opportunity to build
                        retail and employment skills while generating program support. Rather than
                        traditional apparel, we proposed seed paper sprouting kits timed for
                        Mother’s Day, spring planting, and end‑of‑year teacher gifts.
                    </p>
                    <p>
                        Each kit included a plantable pot, peat moss, indigenous Ontario wildflower
                        or herb seeds, and a custom printed, plantable seed‑paper wrap. The format
                        aligned with the store’s low price points, appealed to its core audience of
                        local women aged 25–45, and offered an easy‑to‑sell alternative to apparel.
                        The organizers embraced the idea, especially given the seeds’ local origins
                        and the fact that the seed paper company was founded by a Canadian woman—an
                        inspiring role model for participants.
                    </p>
                    <p>
                        To further connect the product to the program’s theme, participants were
                        invited to submit artwork incorporating a shoe and elements from the
                        sprouting kits. A selected illustration was featured on the packaging
                        alongside YWKW messaging, resulting in a creative, meaningful product that
                        supported skill‑building, storytelling, and purpose‑driven impact.
                    </p>
                    <p class="pt-fluid-forty text-body-sm opacity-90">
                        Winner of the 2024 PPAI International Gold Pyramid<br />
                    </p>
                </div>
            </div>

            <div
                class="mob-version col-span-12 flex flex-col gap-fluid-twenty bg-[#EEEEEE] px-fluid-forty pt-fluid-forty pb-fluid-eighty text-body-project leading-[120%] tracking-[-2%] text-[#3e3e3e]"
            >
                <h4 class="pb-fluid-160 text-body-sm">Project Description</h4>
                <p>
                    Counsellors at YWKW were looking for new branded items for participants to sell
                    through their thrift store—creating a hands‑on opportunity to build retail and
                    employment skills while generating program support. Rather than traditional
                    apparel, we proposed seed paper sprouting kits timed for Mother’s Day, spring
                    planting, and end‑of‑year teacher gifts.
                </p>
                <p>
                    Each kit included a plantable pot, peat moss, indigenous Ontario wildflower or
                    herb seeds, and a custom printed, plantable seed‑paper wrap. The format aligned
                    with the store’s low price points, appealed to its core audience of local women
                    aged 25–45, and offered an easy‑to‑sell alternative to apparel. The organizers
                    embraced the idea, especially given the seeds’ local origins and the fact that
                    the seed paper company was founded by a Canadian woman—an inspiring role model
                    for participants.
                </p>
                <p>
                    To further connect the product to the program’s theme, participants were invited
                    to submit artwork incorporating a shoe and elements from the sprouting kits. A
                    selected illustration was featured on the packaging alongside YWKW messaging,
                    resulting in a creative, meaningful product that supported skill‑building,
                    storytelling, and purpose‑driven impact.
                </p>
                <p class="pt-fluid-forty text-body-sm opacity-90">
                    Winner of the 2024 PPAI International Gold Pyramid<br />
                </p>
            </div>
            <div
                class="col-span-12 flex w-full flex-col gap-fluid-twenty sm:col-span-8 3xl:col-span-9"
            >
                <Picture
                    src={img1}
                    alt="Mobile Tire Apparel"
                    class="h-auto w-full"
                    loading="lazy"
                />
                <Picture
                    src={img2}
                    alt="Mobile Tire Apparel"
                    class="h-auto w-full"
                    loading="lazy"
                />
                <Picture
                    src={img4}
                    alt="Mobile Tire Apparel"
                    class="h-auto w-full"
                    loading="lazy"
                />
            </div>
        </div>
    </div>
    <Footer />
</Layout>
