---
import '@styles/main.css';
import { Font, type CssVariable } from 'astro:assets';
import { SEO } from 'astro-seo';
import { defaultSeo } from '@data/seo';
import { getSeo } from '@scripts/utils/seo';
import Icon from '../components/Icon/Icon.astro';
import { Image } from 'astro:assets';
import bgImage from './src/assets/images/djtalbg.png';
import Menu from '@components/Menu/Menu.astro';
import Button from '@components/Button/Button.astro';
import SplitReveal from '@components/SplitReveal/SplitReveal.astro';
import SplitRevealAlt from '@components/SplitReveal/SplitRevealAlt.astro';
import SplitRevealColour from '@components/SplitReveal/SplitRevealColour.astro';
const { title, seo = {} } = Astro.props;

const seoData = getSeo(seo, defaultSeo, title);

// Constants
const FONTS: CssVariable[] = ['--custom-font-sans'];
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />

        <SEO {...seoData} />

        {FONTS.map((font) => <Font cssVariable={font} preload />)}
    </head>
    <body>
        <script src="../scripts/app.ts"></script>
        <main id="swup" class="transition-fade">
            <div id="content">
                <slot />
            </div>
        </main>
    </body>
</html>
